<h1><center>LogIn to <b>Barber Shop</b>.</center></h1>

		<form action="/login" method="POST">
			<p>
				<label>Login:</label>
				<input class="border border-success form-control" type="text" name="login"/>
			</p>
			<p>
				<label>Password:</label>
				<input class="border border-success form-control" type="password" name="password"/>
			</p>
			<p>
				<button type="submit" class="btn btn-success">Войти</button>
			</p>
		</form>